header {
  width: 100%;
  border-bottom: 0.1rem solid var(--gray-900);
  background-color: var(--logo-yellow);
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-nav {
  max-width: var(--breakpoint-14);
  min-width: var(--breakpoint-4);
  margin: 0 auto;
}

.header-nav .cta-yellow {
  border: 0;
  border-radius: 0;
}

.header-nav .cta-yellow[aria-current="page"] {
  background-color: var(--gray-900);
  color: var(--logo-yellow);
}